.srt-container {
  .deck-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--size-2-2);
    white-space: nowrap;

    .deck-size {
      min-width: 60px;
      line-height: var(--input-height);
      text-align: right;
    }
  }

  .deck-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100px);
    justify-content: center;
    justify-items: center;
    gap: var(--size-4-4);
    overflow: hidden;

    .deck-result {
      flex-grow: 0;
      flex-shrink: 0;
      width: 100px;
      height: 140px;
      background: #fcfcfc;
      border-radius: 8px;
      border: var(--size-2-1) solid var(--text-faint);
      cursor: pointer;
      transition: border-color 0.3s ease-in-out;
      animation: 0.5s ease-in-out srt-fadein;

      &:hover {
        border-color: var(--interactive-accent);
      }

      &.image-result-content {
        img {
          width: 100%;
          height: 100%;
          border-radius: 6px;
          object-fit: cover;
        }

        .image-result-zoom {
          position: absolute;
          inset: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          overflow: hidden;
          transition: opacity 0.3s ease-in-out;
          z-index: 10;

          &:not(.shown) {
            pointer-events: none;
          }

          &.shown {
            opacity: 1;
          }

          img {
            width: 100%;
            max-width: 400px;
            height: auto;
            max-height: 100%;
            border-radius: 14px;
            object-fit: contain;
          }
        }

        &.flip {
          img {
            transform: rotate(180deg);
          }
        }
      }

      &.fake-result-content {
        visibility: hidden;
      }
    }

    .deck-result-value {
      display: inline-block;
      text-align: right;
    }

    .deck-result-type {
      position: relative;
      top: 1px;
    }

    .tarot-result-index {
    }

    .tarot-result-value {
      font-size: var(--font-smallest);
      line-height: 1;
    }
  }

  &.srt-desktop-layout {
    .deck-results {
      margin-bottom: var(--size-4-6);

      .deck-result {
        &.image-result-content {
          .image-result-zoom {
            pointer-events: none;
          }
        }
      }
    }

    .deck-buttons {
      .deck-size {
        margin-left: var(--size-4-2);
      }
    }
  }

  &.srt-mobile-layout {
    .deck-results {
      .deck-result {
        &.image-result-content {
          .image-result-zoom {
            align-items: flex-start;
          }
        }
      }
    }

    .deck-buttons {
      flex-direction: row-reverse;

      .deck-size {
        margin-right: var(--size-4-2);
      }
    }
  }
}
