.srt-container {
  .map-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--size-2-2);
    white-space: nowrap;
  }

  .map-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: var(--size-4-4);
    width: 100%;
    overflow: hidden;

    .map-result {
    }
  }

  &.srt-desktop-layout {
    .map-results {
      flex-direction: column-reverse;
      margin-bottom: var(--size-4-6);
    }
  }
}
