.srt-container {
  .oracle-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--size-2-2);

    &.oracle-buttons-mythic {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      button {
        font-size: var(--font-ui-smaller);
      }
    }

    .mythic-factor {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      grid-column-start: 1;
      grid-column-end: 4;

      .counter {
        width: 20px;
        text-align: center;
        font-weight: 500;
      }
    }
  }

  .oracle-results {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: var(--size-4-4);
    width: 100%;
    overflow: hidden;

    .oracle-result {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      cursor: pointer;
      animation: 0.5s ease-in-out srt-fadein;

      &:not(:hover) {
        color: var(--text-normal);
      }
    }

    .oracle-result-type {
      display: inline-block;
      min-width: 60px;
      font-size: 0.75em;
      line-height: 2em;
      color: var(--color-base-60);
      text-align: right;
      margin-right: var(--size-4-4);
    }
  }

  &.srt-desktop-layout {
    .oracle-results {
      flex-direction: column-reverse;
      margin-bottom: var(--size-4-6);
    }
  }
}
