.srt-count {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--size-4-1);
  font-weight: 500;
  vertical-align: bottom;

  span {
    display: inline-block;
    min-width: 20px;
    text-align: center;
  }

  .clickable-icon {
    padding: var(--size-2-2);
    cursor: pointer;
  }
}

.srt-track {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-4-1);
  margin-top: var(--size-4-1);
  vertical-align: bottom;

  .srt-track-btn {
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 2px solid var(--text-normal);
    border-radius: var(--radius-s);
    background-color: transparent;
    cursor: pointer;
    transition: border-color 0.3s;

    &:hover {
      border-color: var(--interactive-accent);

      &:nth-child(5n) {
        border-color: var(--interactive-accent-hover);
      }
    }

    &.active {
      border-color: var(--interactive-accent);
      background-color: var(--interactive-accent);

      &:nth-child(5n) {
        border-color: var(--interactive-accent-hover);
        background-color: var(--interactive-accent-hover);
      }
    }
  }

  .srt-track-edit {
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;

    svg {
      color: var(--text-faint);
    }
  }
}

.srt-clock {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  vertical-align: bottom;

  .srt-clock-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent !important;
    cursor: pointer;
  }

  .srt-clock-svg {
    cursor: pointer;

    circle,
    path {
      stroke: var(--text-muted);
    }

    circle[fill="currentColor"],
    path[fill="currentColor"] {
      fill: var(--interactive-accent);
    }
  }

  .srt-clock-edit {
    width: 24px;
    height: 24px;
    padding: 0;
    margin-left: var(--size-2-2);
    cursor: pointer;

    svg {
      color: var(--text-faint);
    }
  }
}

.srt-dice {
  display: inline-block;
  vertical-align: bottom;

  svg path {
    stroke: currentColor;
    fill: currentColor;
  }

  .srt-dice-size {
    font-weight: 600;
    vertical-align: middle;
  }

  .srt-dice-btn-container {
    position: relative;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
  }

  .srt-dice-btn {
    position: absolute;
    inset: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--background-primary);
    background: transparent !important;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }

  &.srt-dice-disabled {
    .srt-dice-btn-container {
      opacity: 0.7;
    }
  }

  &.srt-dice-d4 {
    svg {
      position: relative;
      top: 1px;
    }
  }
}

.srt-space {
  display: inline-block;
  height: calc(var(--line-height-normal) * 0.7em);
}
